/*#region scroll-bar*/
body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background: var(--clr-base);
}

body::-webkit-scrollbar-thumb {
    background: var(--clr-black);
    border-radius: 20px;
    border: 5px solid var(--clr-base);
}

/*#endregion*/

/*#region global*/
@font-face {
    font-family: 'Montserrat';
    src: url('../font/MontserratAlternates-Light.otf');
}

/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    list-style: none;
    color: var(--clr-white)
}

/*paleta de cores*/
:root {
    --clr-base: #333333;
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-accent: #fff000;
    --clr-card: rgba(255, 255, 255, .2);
    --no-color: transparent;
    --clr-gradient1: linear-gradient(45deg, #000839 10%, #8400ff 90%);
    --clr-gradient2: linear-gradient(45deg, #8400ff 10%, #000839 90%);
}

/*regras*/
body {
    background: var(--clr-base);
}

h1>span {
    color: var(--clr-accent);
}

a {
    text-decoration: none;
    transition: all .3;
}



/*#endregion*/

/*#region topo*/
.topo {
    width: 100%;
    height: 600px;
    background-image: url('../img/bgTopo.png');
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;

    & .logo {
        height: 150px;
        opacity: .5;
        transition: .3s;
        cursor: pointer;

        &:hover {
            opacity: 1;
            filter: drop-shadow(0 0 8px var(--clr-accent));
            transform: scale(1.4) rotate(720deg);

        }

    }

    & .cardTopo {
        background: var(--clr-card);
        width: 300px;
        border: 2px solid var(--no-color);
        text-align: center;
        padding: 20px 0;

        &:hover {
            border: 2px solid var(--clr-white);
        }
    }

    & img {
        width: 100%;
    }

    & .imgLateral {
        height: 700px;
        transition: .3s;
        filter: saturate(0);

        &:hover {
            filter: saturate(1) drop-shadow(0 0 100px var(--clr-accent));
            cursor: pointer;
        }
    }

    & .logoWhats {
        position: fixed;
        width: 50px;
        right: 30px;
        opacity: .5;
        transition: .3s;

        &:hover {
            opacity: 1;
        }
    }

}

/*#endregion*/

/*#region servicos*/
.servicos {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & .card {
        flex-basis: 250px;
        height: 350px;
        background: var(--clr-white);
        transition: .3s;
        border-radius: 10px;

        & li {
            border-radius: 10px 10px 0 0;
            text-align: center;

            &:first-child {
                background: var(--clr-black);
                padding: 10px;
            }

            & p {
                color: var(--clr-black);
                padding: 30px;
                line-height: 30px;
            }
        }

        &:hover {
            border-bottom: 3px solid var(--clr-accent);
            transform: scale(1.2);
            background: var(--clr-black);

            & li {
                &:first-child {
                    background: var(--clr-white);

                    & h2 {
                        color: var(--clr-black);
                    }
                }

                & p {
                    color: var(--clr-white);
                }
            }
        }
    }

    .accent {
        background: var(--clr-gradient1);

        & li {
            &:first-child {
                background: var(--no-color);
            }

            & p {
                color: var(--clr-white);
            }
        }

        &:hover {
            background: var(--clr-gradient2);

            & li {
                &:first-child {
                    background: var(--no-color);
                }

                & h2 {
                    color: var(--clr-white);
                }
            }
        }
    }
}

/*#endregion*/

/*#region contato*/
.contato {
    width: 100%;
    height: 700px;
    background: url('../img/bgcontato.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 50px;

    & .contatoContainer {
        width: 20%;
        margin: 40px auto;

        & li {
            padding: 10px 0;

            & input[type=text],
            [type=email] {
                width: 100%;
                padding: 5px;
                border: none;
                outline: none;
                border-radius: 5px;
                color: var(--clr-black);
                opacity: .6;

                &:focus {
                    opacity: 1;
                }
            }

            & input[type=button],
            [type=reset] {
                width: 160px;
                height: 80px;
                border: 1px solid var(--no-color);
                border-radius: 5px;
                color: var(--clr-black);
                background: var(--clr-white);
                font-weight: 900;
                cursor: pointer;
                opacity: .6;
                transition: .3s;

                &:hover {
                    border: 1px solid var(--clr-white);
                    color: var(--clr-white);
                    background: var(--no-color);
                }
            }

            & p {
                & a {
                    color: var(--clr-accent);
                    text-decoration: underline;
                }
            }
        }

        & .btnDefault {
            display: flex;
            justify-content: space-between;
        }
    }
}

/*#endregion*/

/*#region footer*/
.footerContainer {
    width: 100%;
    height: 200px;
    background: var(--clr-black);
    display: flex;
    justify-content: space-around;
    align-items: center;

    & li {
        & img {
            width: 250px;
        }
    }
}

/*#endregion*/